doctype html
html
    head
        title Feedback
        link(rel="stylesheet", href="css/bootstrap.min.css")
        script(type="text/javascript", src="js/jquery.min.js")

        script(type="text/coffeescript", src="coffee/index.coffee")
        link(rel="stylesheet/less", type="text/css", href="less/index.less")

        script(type="text/javascript", src="js/less.min.js")
        script(type="text/javascript", src="js/coffee-script.js")
    body
        .container
            .jumbotron
                h1.title Feedback for Demo

        .container
            .panel.panel-warning
                .panel-heading
                    h2 Feedback
                .panel-body.feedback
                    .loading Loading feedbacks...

                    ol

                    form
                        .wait
                            span Please wait a while for me to submit your feedback.

                        .form
                            h3 Add Feedback
                            .form-group
                                label Description
                                input.form-control(type="text", name="description")
                            .form-group
                                label Name
                                input.form-control(type="text", name="name")
                            .form-group.text-right
                                button.btn.btn-success Submit

                    li.lineblock
                        span.text.description
                        span.actions
                            //- button.btn.btn-link.btn-xs.edit
                            //-     span.glyphicon.glyphicon-edit
                            button.btn.btn-link.btn-xs.complete
                                span.glyphicon.glyphicon-ok
                            button.btn.btn-link.btn-xs.uncomplete
                                span.glyphicon.glyphicon-remove
                            button.btn.btn-link.btn-xs.delete
                                span.glyphicon.glyphicon-trash
                        span.text.name
